<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-email-list</title>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>

    <script src="https://unpkg.com/axios@1.6.8/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <!-- Bonus 2 -->
        <button @click="getMail()">
            Test
        </button>
        <!-- Questo in basso funziona solo quando abbiamo numeroMail -->
         <ol v-if="mailRicevute.length % this.numeroMail == 0"> <!-- Grazie all'if ho il controllo e stampo tutto in una botta -->
            <li v-for="mail, i in mailRicevute">{{ mail }}</li> 
            <!-- Sbagliavo array quindi mi prendeva l'altro -->
        </ol>
    </div>


    <script src="./main.js"></script>
</body>

</html>